:root {
  --ifm-font-family-base: sans-serif;
  --ifm-navbar-background-color: #6e62b5;
  --ifm-navbar-link-color: white;
  --ifm-navbar-link-hover-color: #2c2748;
}

.markdown h1:first-child {
  text-align: center;
}

.breadcrumbs__link {
  color: var(--ifm-navbar-background-color);
}
